<h1>Listing combined_images</h1>

<table>
  <tr>
    <th>Filename</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @combined_images.each do |combined_image| %>
  <tr>
    <td><%= combined_image.filename %></td>
    <td><%= link_to 'Show', combined_image %></td>
    <td><%= link_to 'Edit', edit_combined_image_path(combined_image) %></td>
    <td><%= link_to 'Destroy', combined_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Combined image', new_combined_image_path %>
