<p id="notice"><%= notice %></p>

<p>
  <b>Left coord:</b>
  <%= @image_block.left_coord %>
</p>

<p>
  <b>Right coord:</b>
  <%= @image_block.right_coord %>
</p>

<p>
  <b>Width:</b>
  <%= @image_block.width %>
</p>

<p>
  <b>Height:</b>
  <%= @image_block.height %>
</p>


<%= link_to 'Edit', edit_image_block_path(@image_block) %> |
<%= link_to 'Back', image_blocks_path %>
