<head>
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
<script type="text/javascript" src="../../javascripts/raphael.min.js"></script>
<script type="text/javascript" src="../../javascripts/raphael.sketchpad.js"></script>
</head>
<style type="text/css">
</style>

<h1>The rules:</h1>
<h2>
1. No white space in your sketch.<br><br> 
2. Use as many colors are you can from your palette below.
</h2>
<h1>Your (small) Sketchpad:</h1>
<div id="editor" class="sketchpad edit_mode" style="width: <%= @image_section.width %>;height=<%= @image_section.height %>"></div>
<%= form_tag("/image_sections/" + @image_section.id.to_s(), :controller => "image_section", :action => "update", :method => "post") %> 
<h1>Your color palette:</h1>
<p>
To use a color, simply click on a color. Note that you may get very few, or a whole bunch of colors. Some colors may even look the same.<br> 
<br>
After you've clicked on the color of your choice, draw in the box above. 
When you're done hit the submit button below the color pallet!<br>
<br>
Repeat as many times as you'd like (if you don't like your color palette, submit and see what you get next time!)</p> 
<div class="color_pallete_container">
<div class="color_pallete">
<% @image_section.colors_without_opacity.each do |color| %>
  <div id="editor_<%=color%>" class="color_button" style="background-color:#<%=color%>">
  </div>
<% end %> 
</div>
</div>
<br><br><br>

<script type="text/javascript">
   $(document).ready(function() {
	var sketchpad = Raphael.sketchpad("editor", {
		width: 30,
		height: 30, 
		editing: true
	});

	// When the sketchpad changes, update the input field.
	sketchpad.change(function() {
		$("#drawn_json").val(sketchpad.json());
	});

        <% @image_section.colors_without_opacity.each do |color| %>
            $("#editor_" + <%=raw '"' + color + '"'%>).click(function() {
                    sketchpad.pen().color("#" + <%=raw '"' + color + '"'%>);
            });
        <% end %>

        $("#editor_black").click(function() {
                sketchpad.pen().color("#000");
        });
    });

</script>

<%= text_area_tag(:drawn_json, "", :size => "0") %>
<%= render 'form' %>
