<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="https://raw.github.com/ianli/raphael-sketchpad/master/javascripts/json2.js"></script>
<script type="text/javascript" src="../../javascripts/raphael.min.js"></script>
<script type="text/javascript" src="../../javascripts/raphael.sketchpad.js"></script>
</head>
<p id="notice"><%= notice %></p>

<p>
  <b>Left coord:</b>
  <%= @image_section.left_coord %>
</p>

<p>
  <b>Right coord:</b>
  <%= @image_section.right_coord %>
</p>

<p>
  <b>Width:</b>
  <%= @image_section.width %>
</p>

<p>
  <b>Height:</b>
  <%= @image_section.height %>
</p>

<p>
  <b>Sketchpad json:</b>
  <%= @image_section.sketchpad_json %>
</p>

<div id="viewer" class="sketchpad"></div>
<script>
$(document).ready(function() {
    // Creates a viewer at the top left corner of the #viewer element
    // initialized with the stroke data.
    var viewer = Raphael.sketchpad("viewer", {
    	width: 30,
    	height: 30,
    	strokes: <%=raw @image_section.sketchpad_json %> 
    });
});
</script>

<%= link_to 'Edit', edit_image_section_path(@image_section) %> |
<%= link_to 'Back', image_sections_path %>
